
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}

<h2>Đã xác nhận đơn hàng. Chúng tôi sẽ liên lạc với bạn sớm nhât</h2>
<p>
    @Html.ActionLink("Về trang chủ","Index","Mypham")
</p>
